---
sitemap: false
---

@import "variables";
@import "reset";
@import "base";
@import "site";
@import "utilities";
@import "syntax";
@import "vendor/fonts";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";

/* Making imgs inline */
img{
	display: inline-block;
}

/* Image that takes up a third of a column */
.onethirdimage{
	width: 13%;
	margin: 0 9%;
}

/* making left image centered */
#posts.inner-post-page .block-left{
	background-position: center !important;
}

/* Horizontal rules with bigger margins */
hr{
	margin-top: 3em;
	margin-bottom: 3em;
}

/* Images at the bottom */
.support{
	margin: 10px;
	max-width: 32%;
	max-height: 4em;
	filter: contrast(20%) saturate(0);
	transition: all 0.2s ease-in-out;
}
.support:hover{
	filter: contrast(100%) saturate(100%);
}

/* See for She logo image */
#posts .logo img {
    width: 150px !important;
    height: auto;
}
